  <section *ngIf="this.locationsService.isLoaded">
    <div class="container py-4">
      <!-- <h1 class="h1 text-center" id="pageHeaderTitle">Locations list</h1> -->
      <article class="postcard" *ngFor="let location of  this.locationsService.locations; let i=index">
        <a class="postcard__img_link">
          <img class="postcard__img" [src]="location.picture"  alt="location picture" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title blue pl-3"><a>{{location.title}}</a></h1>
          <div class="postcard__subtitle small">
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{location.description}}</div>
          <div class="postcard__tagbox">
              <button type="button" id="details" class="btn btn-light" (click)="redirectToDetailsPage(location.id)"><a>More Details</a></button>
          </div>
        </div>
      </article>
    </div>
  </section>