<div class="container" *ngIf="this.locationService.isLoaded">
  <div class="row">
    <div class="col-md-5">
      <div class="project-info-box mt-0">
        <h5 class="text-dark"> {{this.locationService.location?.title}}</h5>
        <p class="mb-0">{{this.locationService.location?.description}}</p>
      </div>

      <div class="project-info-box">
        <p><b>Address</b> {{this.locationService.location?.address}}</p>
        <p><b>Coord X:</b> {{this.locationService.location?.coordX}}</p>
        <p><b>Coord Y:</b> {{this.locationService.location?.coordY}}</p>
      </div>

      <div class="project-info-box p-0" style="width:100%;height:315px">
        <ya-map [center]="[this.locationService.location?.coordX!,this.locationService.location?.coordY!]" [zoom]="7">
          <ya-placemark [geometry]="[this.locationService.location?.coordX,this.locationService.location?.coordY]">
          </ya-placemark>
        </ya-map>
      </div>
    </div>
    <div class="col-md-7">
      <img style="height:800px" [src]="this.locationService.location?.picture" alt="current picture" class="rounded">
      <div class="project-info-box mt-2 mb-0" *ngIf="this.authService.isLoggedIn">
        <p class="mb-0">
          <span class="fw-bold mr-10 va-middle hide-mobile">Authors working history: </span>
          <span>{{this.locationService.location?.author}}</span>
        </p>
        <p class="d-flex justify-content-center mb-0 py-2">
          <button type="button" id="update" class="btn btn-success"
            (click)="redirectToUpdatePage(this.id)">Update</button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center h-100" *ngIf="!this.locationService.isLoaded">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>